<% include ../partial/header%>
<!-- Content -->

<script type="text/javascript">
    $("#user").addClass("active");
</script>

<div class="page-content">

    <!-- Breadcrumb row -->
    <div class="breadcrumb-row">
        <div class="container">
            <ul class="list-inline">
                <li><a href="#">Home</a></li>
                <li>Course Info</li>
            </ul>
        </div>
    </div>
    <!-- Breadcrumb row END -->
    <div class="content-area">
        <div class="container">
            <div class="row">



                <!-- New Course -->
                <div class="col-sm-12">
                    <form class="p-a30 w3-form text-center text-center"action="/admin/newcourse" method="POST">
                        <h4>Edit this course</h4>
                        <div class="panel panel-default">
                            <div class="panel-body form-horizontal payment-form">
                                <div class="form-group">
                                    <label for="concept" class="col-sm-3 control-label">Course Name:    </label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control"  name="name" placeholder="<%=course.name %>">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="description" class="col-sm-3 control-label">Image URL:  </label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" name="img" placeholder="<%=course.img %>">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="amount" class="col-sm-3 control-label">Description:     </label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control"  name="des" placeholder="<%=course.des %>">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="amount" class="col-sm-3 control-label">Sec1 title</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control"  name="sec1title" placeholder="<%=course.sec1.title %>">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="amount" class="col-sm-3 control-label">Sec1 detail</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control"  name="sec1detail"placeholder="<%=course.sec1.detail %>">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="amount" class="col-sm-3 control-label">Sec1 video</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control"  name="sec1video"placeholder="<%=course.sec1.video %>">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="amount" class="col-sm-3 control-label">Sec2 title</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control"  name="sec2title"placeholder="<%=course.sec2.title %>">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="amount" class="col-sm-3 control-label">Sec2 detail</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control"  name="sec2detail"placeholder="<%=course.sec2.detail %>">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="amount" class="col-sm-3 control-label">Sec2 video</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control"  name="sec2video"placeholder="<%=course.sec2.video %>">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="amount" class="col-sm-3 control-label">Sec3 title</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control"  name="sec3title"placeholder="<%=course.sec3.title %>">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="amount" class="col-sm-3 control-label">Sec3 detail</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control"  name="sec3detail"placeholder="<%=course.sec3.detail %>">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="amount" class="col-sm-3 control-label">Sec3 video</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control"  name="sec3video"placeholder="<%=course.sec3.video %>">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="amount" class="col-sm-3 control-label">Sec4 title</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control"  name="sec4title"placeholder="<%=course.sec4.title %>">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="amount" class="col-sm-3 control-label">Sec4 detail</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control"  name="sec4detail"placeholder="<%=course.sec4.detail %>">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="amount" class="col-sm-3 control-label">Sec4 video</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control"  name="sec4video"placeholder="<%=course.sec4.video %>">
                                    </div>
                                </div>







                                <div class="col-xs-12">
                                    <hr style="border:1px dashed #dddddd;">
                                    <button type="submit" class="btn btn-success btn-block">Update</button>
                                </div>


                            </div>
                        </div>
                    </form>
                </div> <!-- / New Course-->




            </div>
        </div>
    </div>
</div>
<!-- Content END-->
<!-- JavaScript  files ========================================= -->
<% include ../partial/footer%>