<% include ../partial/header%>


<script type="text/javascript">
    $("#problem").addClass("active");
</script>


<!-- Content -->
<div class="page-content bg-white">

    <!-- Breadcrumb row -->
    <div class="breadcrumb-row">
        <div class="container">
            <ul class="list-inline">
                <li><a href="#">Home</a></li>
                <li>Problem list</li>
            </ul>
        </div>
    </div>
    <!-- Breadcrumb row END -->
    <!-- contact area -->
    <div class="content-area">
        <!-- Career -->
        <div class="container">
            <div class="row">


                <!-- Left part start -->


                <table class="table table-striped">
                    <tr>
                        <th style="width: 5%">Completed</th>

                        <th style="width: 5%">#</th>
                        <th style="width: 40%">Title</th>
                        <th style="width: 20%">Category</th>
                        <th style="width: 10%">Difficulty</th>
                    </tr>


                    <% problems.forEach(function(problem){%>

                    <tr>

                        <th><i class="fa fa-check-square" aria-hidden="true"></i>

                        </th>
                        <th><%=problem.number %></th>
                        <th><a href="/code/problem/<%=problem._id %>"><%=problem.title %></a></th>
                        <th><%=problem.category %></th>
                        <th><%=problem.difficulty %></th>

                    </tr>

                    <%})%>

                </table>


            </div>
        </div>
        <!-- Career END -->
    </div>
    <!-- contact area END -->
</div>
<!-- Content END-->
<!-- JavaScript  files ========================================= -->
<% include ../partial/footer%>