<% include ../partial/header%>
<!-- Content -->

<script type="text/javascript">
    $("#user").addClass("active");
</script>

<div class="page-content bg-white">

    <!-- Breadcrumb row -->
    <div class="breadcrumb-row">
        <div class="container">
            <ul class="list-inline">
                <li><a href="#">Home</a></li>
                <li><%=course.name %></li>
            </ul>
        </div>
    </div>
    <!-- Breadcrumb row END -->
    <!-- contact area -->
    <div class="content-area">
        <!-- Product details -->
        <div class="container woo-entry">
            <div class="row">
                <div class="col-md-12">
                    <div class="course-view text-center m-b30">
                        <h2 class="m-t0 m-b10 font-28 text-black"><%=course.name %></h2>
                        <div class="w3-divider bg-gray-dark"><br></div>
                    </div>
                </div>
            </div>




            <div class="row">


                <div class="col-md-8 col-md-offset-2">
                    <div class="w3-media m-b30" style="box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);">
                        <a href="#"><img src="<%=course.img %>" alt=""></a>
                    </div>

                    <div class="w3-divider bg-gray-dark"><br></div>


                    <!-- Tabs -->
                    <div class="w3-tabs border bg-tabs product-description" style="box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);">
                        <ul class="nav nav-tabs w25 ">
                            <li class="active">
                                <a data-toggle="tab" href="#description">
                                    <i class="fa fa-bookmark m-r10"></i>
                                    <span class="title-head">Description</span>
                                </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#curriculum">
                                    <i class="fa fa-cube"></i>
                                    <span class="title-head">Course Video</span>
                                </a>
                            </li>


                        </ul>
                        <div class="tab-content">



                            <div id="description" class="tab-pane active">
                                <h3 class="m-t0">ABOUT THIS COURSE</h3>
                                <p class="m-b10">
                                    <%=course.des %>
                                </p>
                                <br>

                                <h3 class="m-t0">PREREQUISITE:</h3>
                                <p class="m-b10">
                                    <%=course.pre %>
                                </p>

                                <br>
                                <h3>LEARNING OUTCOMES</h3>
                                <ul class="list-check-circle primary">

                                    <%if(course.o1){ %>
                                    <li><%=course.o1 %></li>
                                    <%}else{%><%}%>
                                    <%if(course.o2){ %>
                                    <li><%=course.o2 %></li>
                                    <%}else{%><%}%>
                                    <%if(course.o3){ %>
                                    <li><%=course.o3 %></li>
                                    <%}else{%><%}%>
                                    <%if(course.o4){ %>
                                    <li><%=course.o4 %></li>
                                    <%}else{%><%}%>
                                    <%if(course.o5){ %>
                                    <li><%=course.o5 %></li>
                                    <%}else{%><%}%>

                                </ul>
                                <div class="w3-divider bg-gray-dark"><i class="icon-dot c-square"></i></div>

                            </div>


                            <div id="curriculum" class="tab-pane">
                                <h3 class="m-tb0">Video</h3>

                                <h5 class="text-primary">Section 1</h5>
                                <table class="table" style="width: 100%">
                                    <thead>
                                    <tr>
                                        <th>Lecture</th>

                                        <th class="text-right">Video</th>
                                    </tr>
                                    </thead>
                                    <tr>
                                        <td>
                                            <span><i class="fa fa-file-o m-r10"></i><%=course.sec1t %></span>
                                        </td>

                                        <td class="text-right">
                                            <a href="/user/courses/<%=course._id %>/sec1"><span><i class="fa fa-video-camera"></i> WATCH</span></a>
                                        </td>
                                    </tr>

                                </table>

                                <h5 class="text-primary">Section 2</h5>
                                <table class="table" style="width: 100%">
                                    <thead>
                                    <tr>
                                        <th>Lecture</th>

                                        <th class="text-right">Video</th>
                                    </tr>
                                    </thead>
                                    <tr>
                                        <td>
                                           <span><i class="fa fa-file-o m-r10"></i><%=course.sec2t %></span>
                                        </td>

                                        <td class="text-right">
                                            <a href="/user/courses/<%=course._id %>/sec2"><span><i class="fa fa-video-camera"></i> WATCH</span></a>
                                        </td>
                                    </tr>

                                </table>

                                <h5 class="text-primary">Section 3</h5>
                                <table class="table" style="width: 100%">
                                    <thead>
                                    <tr>
                                        <th>Lecture</th>

                                        <th class="text-right">Video</th>
                                    </tr>
                                    </thead>
                                    <tr>
                                        <td>
                                            <span><i class="fa fa-file-o m-r10"></i><%=course.sec3t %></span>
                                        </td>

                                        <td class="text-right">
                                            <a href="/user/courses/<%=course._id %>/sec3"><span><i class="fa fa-video-camera"></i> WATCH</span></a>
                                        </td>
                                    </tr>

                                </table>

                                <h5 class="text-primary">Section 4</h5>
                                <table class="table" style="width: 100%">
                                    <thead>
                                    <tr>
                                        <th>Lecture</th>

                                        <th class="text-right">Video</th>
                                    </tr>
                                    </thead>
                                    <tr>
                                        <td>
                                            <span><i class="fa fa-file-o m-r10"></i><%=course.sec4t %></span>
                                        </td>

                                        <td class="text-right">
                                            <a href="/user/courses/<%=course._id %>/sec4"><span><i class="fa fa-video-camera"></i> WATCH</span></a>
                                        </td>
                                    </tr>

                                </table>





                            </div>




                        </div>
                    </div>
                </div>


            </div>
        </div>
        <!-- Product details -->
    </div>
    <!-- contact area  END -->
</div>
<!-- Content END-->
<!-- JavaScript  files ========================================= -->
<% include ../partial/footer%>