<% include ../partial/header%>
<!-- Content -->

<script type="text/javascript">
    $("#user").addClass("active");
</script>

<div class="page-content">

    <!-- Breadcrumb row -->
    <div class="breadcrumb-row">
        <div class="container">
            <ul class="list-inline">
                <li><a href="#">Home</a></li>
                <li>User</li>
            </ul>
        </div>
    </div>
    <!-- Breadcrumb row END -->
    <div class="content-area">
        <div class="container">
            <div class="row">


<div style="width: 50%;margin: 0 auto">
                <div class="p-lr40 p-t30 p-b40 clearfix mack-an-appointment white m-b30">
                    <form method="post" class="dzForm" action="/user/update/<%=userdata.id%>?_method=PUT" method="POST">
                        <input value="Appoinment" name="dzToDo" type="hidden">
                        <div class="row">
                            <div class="text-center">
                                <h3 class="m-t0 text-primary">Change Your Personal information</h3>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    User name: <input name="username" class="form-control" placeholder="<%=userdata.username%>" type="text">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    Email: <input name="email" class="form-control" placeholder="<%=userdata.email%>" type="text">
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    Full Name <input name="fullname" class="form-control" placeholder="<%=userdata.fullname%>" type="text">
                                </div>
                            </div>



                            <div class="col-md-12 text-center">
                                <div class="dzFormMsg"></div>
                                <button name="submit" type="submit" value="Submit" class="site-button skew-secondry btn-block"><span>Update</span></button>
                            </div>
                        </div>
                    </form>
                </div>
</div>

                <div style="width: 50%;margin: 0 auto">
                    <div class="p-lr40 p-t30 p-b40 clearfix mack-an-appointment white m-b30">
                        <form method="post" class="dzForm" action="/user/<%=userdata.id%>?_method=PUT" method="POST">
                            <input value="Appoinment" name="dzToDo" type="hidden">
                            <div class="row">
                                <div class="text-center">
                                    <h3 class="m-t0 text-primary">Change Your Password</h3>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        New Password: <input name="newpassword" class="form-control" placeholder="" type="text">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                       Confirm New Password: <input name="newpassword1" class="form-control" placeholder="" type="text">
                                    </div>
                                </div>





                                <div class="col-md-12 text-center">
                                    <div class="dzFormMsg"></div>
                                    <button name="submit" type="submit" value="Submit" class="site-button skew-secondry btn-block"><span>Submit</span></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>




            </div>
        </div>
    </div>
</div>
<!-- Content END-->
<!-- JavaScript  files ========================================= -->
<% include ../partial/footer%>